/* Navbar CSS Override*/

.navbar-inverse {
    background-color: #337ab7;
    border-color: #2e6da4;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-text {
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

