body {
    margin: 0px;
    padding 10px;
    background-color: lightcyan;
}

table, th, td {
    border: 1px solid black;
}

.split {
    height: 80%;
    width: 47%;
    position: fixed;
    z-index: 1;
    top: 2;
    bottom: 1;
    overflow-x: auto;
    padding-top: 1px;
    border-style: solid;
}

.leftbutton{
    float: left;
}

.rightbutton{
    float: right;
    left: 1;
}

.left {
    left: 20px;
    background-color: #00ffff;
}

.right {
    right: 20px;
    background-color: #00ffff;
}

.top {
    top: : 0;
    background-color: white;
}

.centered {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title{
    width: 500px;
    border-style: outset;
}

.centered img {
    width: 150px;
    border-radius: 50%;
}

/*-----------------------------------------------------------------------*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}