.breadcrumb {
  background: none;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
}

.breadcrumb-wrapper {
  background-color: #f3f3f3;
  border-bottom: 1px solid #e2e2e2;
}

.navbar {
  margin: 0;
  padding: 0;
  border-radius: 0;
}

.sidenav {
      background-color: #f1f1f1;
      height: 100%;
}

/* Split the screen in half */
.split {
  height: 70%;
  width: 60%;
  position: fixed;
  z-index: 1;
  top: 1;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 60px;
  top: 130px;
  height: 50%;
  width: 37%;
  top: 1;
  background-color: white;
}

/* Control the right side */
.right {
  right: 0;
  background-color: white;
  border-style: groove;
}

.split2 {
  height: 70%;
  width: 60%;
  position: fixed;
  z-index: 1;
  top: 1;
  overflow-x: hidden;
  padding-top: 20px;
}

.topnav{
  background-color: #f3f3f3;
  height: 11%;
  top: 20%;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.splittop {
  height: 35%;
  width: 70%;
  position: fixed;
  z-index: 1;
  top: 1;
  right: 1;
  overflow-x: hidden;
  padding-top: 20px;
}

.splitbottom {
  height: 35%;
  width: 70%;
  position: fixed;
  z-index: 1;
  bottom: 20px;
  overflow-x: hidden;
  padding-top: 20px;
}

.solid {
  border-style: solid;
  text-align: center;
  transform: translate(-0.3%, -50%);
}

/* Style the image inside the centered container, if needed */
.floatright{
    float: right;
    transform: translate(-70%, -50%);
    left: 1;
}

.floatleft{
    float: left;
    transform: translate(10%, -50%);
    right: 1;
}